{% extends 'base.html' %}{% load static %}{% block content %}
<div class="container-fluid landing" style="background-color: #443730;">
    <div class="family col-md-3">
        {% for image in images %}
        <div class="image">
            <p>{{ image.name }}</p>
            <img src="{{ image.image_path.url }}" width="300px">
        </div>
        {% endfor %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

        <!-- Modal -->
        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ image1.image_path.url }}" class="modal-img" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}