{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="card" style="margin-top:10px">
        <div class="image">
            <img src="{{ image.image_path.url }}" class="img-thumbnail">
        </div>
    </div>
</div>
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:0.8">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center">
                <h5 class="modal-title" id="exampleModalLabel"><u>{{image.name}}</u></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>Description:</b> {{ image.descriptions }}</p>
                <p><b>Location:</b> {{image.location.name}}</p>
                <p><b>Category:</b> {{image.category.name}}</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-secondary" href="{% url 'image_copy' image.pk %}">Copy link</a>
                <small>{{image.date_taken}}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}