{% extends 'base.html' %}{% load static %} {% load cloudinary %}{% block content %}
<div class="container images">
    <div class="row">
        {% for image in images %}
        <a href="{% url 'image' image.pk %}" class="col-md-4" style="margin-top:10px">
            <div class="card" width="400px">
                <div class="image">
                    <img src="{{ image.image_path.url }}" class="img-thumbnail">
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}