@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    -webkit-text-stroke: 0.9px black;
}

.nav-special {
    color: white;
    -webkit-text-stroke: 0.9px black;
}

.call-to-action {
    font-family: 'Barriecito', cursive;
    font-size: 10vmin;
    color: white;
}

.images>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.images>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html,
body {
    background-color: #443730;
}